:host {
  display: block;
  width: calc(100vw - 250px);
  height: 150px;

  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 25px auto 25px 225px;

  color: black;
  background: #fff;
  border: solid 2px black;

  vertical-align: middle;
  user-select: none;
  cursor: default;
}

p {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  height: 18px;
  background: #fff;
  border: solid 2px black;
  color: black;
}
.title {
  left: -2px;
  top: -48px;
}
.exit {
  width: 18px;
  right: -2px;
  top: -48px;
  cursor: pointer;
}
.exit:hover {
  background: #f00;
}

.card-area {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.card-area > app-card {
  display: inline-block;
  height: calc(100% - 20px);
  width: auto;
  margin: 10px;
}
