:host {
    display: block;
    width: 100px;
    height: 150px;

    box-shadow: 3px 10px 0px 6px #444;
    border-radius: 6px;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

