:host {
  display: block;
  width: 100px;
  height: 150px;
  cursor: move;
}
:host.with-shadow {
  box-shadow: 5px 10px 0px 5px #444;
  border-radius: 6px;
}
:host.fixed {
  cursor: default;
}
:host.fixed.ui-draggable-dragging {
  box-shadow: none !important;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

